<%- include('header'); -%>

    <h1>ABOUT LIST</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere alias debitis molestiae architecto minima ullam dolorum iure esse aliquid? Omnis rerum sint dolorem libero corrupti sit facilis asperiores fugit repellendus?</p>

<%- include('footer'); -%>
